<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title>GRAMMAR-MENTOR</title>

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/fontawesome.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/animated.css">
  <link rel="stylesheet" href="/static/css/owl.css">

  <!-- <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/fontawesome.css">
  <link rel="stylesheet" href="static/css/index.css">
  <link rel="stylesheet" href="static/css/animated.css">
  <link rel="stylesheet" href="static/css/owl.css"> -->


</head>

<body>


  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <div class="logo"><a href="http://127.0.0.1:5000/"><img src="/static/images/LOGO.png" height="70"
                  alt=""></a></div>

            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#about">About</a></li>
              <li class="scroll-to-section"><a href="/project">Projects</a></li>
              <li class="scroll-to-section">
                <div class="border-first-button"><a href="/login">LOG IN</a></div>
              </li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>

          </nav>
        </div>
      </div>
    </div>
  </header>

  <!-- --------------------------------------------------------button one----------------------------------------------------------------- -->
  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h6>PARAGRAPH CORRECTION</h6>
                    <h2>IN THIS FEATURE WE CORRECT THE GRAMMAR</h2>
                  </div>
                  <div class="col-lg-12">
                    <div class="border-first-button scroll-to-section">
                      <a href="/first">START HERE</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="/static/images/paragraph.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- --------------------------------------------------------button two----------------------------------------------------------------- -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h6>WORD CORRECTION</h6>
                    <h2>IN THIS FEATURE WE CORRECT THE WORDS</h2>
                    <p>Say goodbye to typos and spelling mistakes! Our word correction tool is like having an instant
                      spell-checker. Just type a word, and we'll suggest the right spelling. It's quick, easy, and
                      perfect for error-free writing. Try it now and write with confidence.</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="border-first-button scroll-to-section">
                      <a href="/text">START HERE</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="/static/images/words.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- --------------------------------------------------------button three----------------------------------------------------------------- -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h6>ARTICLES SUMMARYTION</h6>
                    <h2>Say Goodbye to Information Overload:- Embrace Article Summaries.</h2>
                    <p>Discover our article summary tool! It's like having a super-smart friend who reads long articles
                      for you and tells you the most important stuff. Just copy and paste the article, and our tool will
                      give you a quick summary. Perfect for saving time and understanding complex topics faster. Try it
                      now!</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="border-first-button scroll-to-section">
                      <a href="/option_three">START HERE</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="/static/images/best for alt account (1).png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- --------------------------------------------------------about----------------------------------------------------------------- -->

  <div id="about" class="about section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="about-right-content">
                <div class="section-heading">
                  <h6 style="font-size: larger;"><b>About Us</b></h6>
                  <h4>There are 5 members in our team <br></h4>
                </div>
                <p style="color: black;font-size: large">1. ADITYA SHUKLA<br>2. AITHA NISCHAL<br>3. ABHINAV SAHU<br>4.
                  ADITYA MUKHERJEE<br>5. ABHISHEK KUMAR YADAV.<br>THIS PROGRAM WAS MADE BY TEAM GRAMMAR-MENTOR. IN THIS
                  PROGRAM WE USED <em>NLTK, ENGLISH PATTENS, RE, TRANSFORMERS, SPACY, PICKLE, TENSORFLOW, keras, and
                    some more.</em>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div id="free-quote" class="free-quote">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 offset-lg-4">
            <div class="section-heading  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
              <h6>Get Your Free Quote</h6>
              <h4>Grow With Us Now</h4>
              <div class="line-dec"></div>
            </div>
          </div>
          <div class="col-lg-8 offset-lg-2  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
            <form id="search" action="#" method="GET">
              <div class="row">
                <div class="col-lg-4 col-sm-4">
                  <fieldset>
                    <input type="web" name="web" class="website" placeholder="Feedback" autocomplete="on" required>
                  </fieldset>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <fieldset>
                    <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on"
                      required>
                  </fieldset>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <fieldset>
                    <button type="submit" class="main-button">SEND</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>THANKS FOR VIEWING US
              <br>Design: GRAMMAR-MENTOR
            </p>
          </div>
        </div>
      </div>
    </footer>


    <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/owl-carousel.js"></script>
    <script src="static/js/animation.js"></script>
    <script src="static/js/imagesloaded.js"></script>
    <script src="static/js/custom.js"></script>
  </div>
</body>

</html>